developers-site/node_modules/
developers-site/dist/
developers-site/site/data/webpack.json
api-book/api-book/_build/**
notebooks/data-explorations/_build/**
*~
*.swp
**/.ipynb_checkpoints/**
**/.ipynb_checkpoints-old/**
